[Unit]
Description=GPIO reboot button
[Service]
User=pi
Group=pi
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python /usr/local/bin/button_reboot.py
[Install]
WantedBy=multi-user.target
